html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  gap: 15px;
}

.form-centrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: auto;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.form-centrado .form-group {
    width: 48%; 
    margin-bottom: 15px;
}

.form-centrado input, .form-centrado select {
    width: 100%;
}

.form-centrado input, .form-centrado select{
    width: 330px;
    margin-bottom: 15px;
}

.form-centrado dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.form-centrado dt {
    width: 20%;
    margin-bottom: 15px;
    font-weight: bold;
}

.form-centrado dd {
    width: 30%;
    margin-bottom: 15px;
}

.controles-crud {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.controles-crud a, .crear-producto a, .botones-pagina a{
    text-decoration: none;
    gap: 6px;
    padding: 6px 12px;
    color: white;
    border-radius: 4px;
    text-align: center;
    background-color: cornflowerblue;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
